<footer class="page-footer mt-5 fo">


    <div class="footer-copyright text-center py-3">© 2019 Copyright by Kiselev Vladislav
    </div>

    <script src="/js/bootstrap.min.js"></script>
    <script src="/script.js"></script>
    <script>
        function CallPrint(strid) {
            window.print(); 
        }
    </script>

</footer>