<h1 class='mb-5'>{{title}}</h1>
<form action="/add" method="POST">

    <fieldset>
        <legend>Информация о пациенте</legend>
        <div class="two-columns">
            <div class="first-column">
                <div class="form-group">
                    <input class="mr-5" type="text" name="name" id="patientName" placeholder="Введите имя" required>
                    <label for="patientName">Имя</label>
                </div>
                <div class="form-group">
                    <input class="mr-5" type="text" name="surname" id="patientSurname" placeholder="Введите фамилию" required>
                    <label for="patientSurname">Фамилия</label>
                </div>
                <div class="form-group">
                    <input class="mr-5" type="text" name="patronymic" id="patientPatronymic"
                        placeholder="Введите отчество" required>
                    <label for="patientPatronymic">Отчество</label>
                </div>
                <div class="form-group">
                    <input class="mr-5" type="text" name="birthDate" id="birthDate" placeholder="Введите дату рождения" required onfocus="(this.type='date')" onblur="if(this.value==''){this.type='text'}">
                    <label for="birthDate">Введите дату рождения</label>
                </div>
                Пол
                <div class="col-sm-10">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="sex" id="inlineRadioSex1" value="Женский" required>
                        <label class="form-check-label" for="inlineRadioSex1">Женский</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="sex" id="inlineRadioSex2" value="Мужской">
                        <label class="form-check-label" for="inlineRadioSex2">Мужской</label>
                    </div>
                </div>
            </div>
            <div class="second-column">
                <div class="form-group">
                    <input class="mr-5" type="text" name="city" id="city" placeholder="Введите город" required>
                    <label for="city">Город</label>
                </div>
                <div class="form-group">
                    <input class="mr-5" type="text" name="street" id="street" placeholder="Введите улицу">
                    <label for="street">Улица</label>
                </div>
                <div class="form-group">
                    <input class="mr-5" type="text" name="house" id="house" placeholder="Введите номер дома" required>
                    <label for="house">Дом</label>
                </div>
                <div class="form-group">
                    <input class="mr-5" type="text" name="room" id="room" placeholder="Введите номер квартиры">
                    <label for="room">Квартира</label>
                </div>
                <div class="form-group">
                    <input class="mr-5" type="text" name="phone" id="phone" placeholder="Введите номер телефона">
                    <label for="phone">Телефон</label>
                </div>
            </div>
        </div>
    </fieldset>
    <fieldset class="mb-3 mt-5">
        <legend>Информация по заболеванию</legend>
        <div class="two-columns">
            <div class="first-column">
                <div class="form-group">
                    <input class="mr-5" type="text" name="ill" id="ill" placeholder="Введите диагноз" required>
                    <label for="ill">Диагноз</label>
                </div>
                <div class="form-group">
                    <input class="mr-5" type="text" name="ICD" id="ICD" placeholder="Введите код по МКБ-10" required>
                    <label for="ICD">МКБ-10</label>
                </div>
                Порядок установления
                <div class="col-sm-10">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="order" id="inlineRadio1" value="впервые" required>
                        <label class="form-check-label" for="inlineRadio1">Первично</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="order" id="inlineRadio2" value="повторно">
                        <label class="form-check-label" for="inlineRadio2">Повторно</label>
                    </div>
                </div>
            </div>
            <div class="second-column">
                <div class="form-group">
                    <input class="mr-5" type="text" name="dateOfCompletion" id="dateOfCompletion"
                        placeholder="Дата установления диагноза" onfocus="(this.type='date')" onblur="if(this.value==''){this.type='text'}" required>
                    <label for="dateOfCompletion">Дата выявления</label>
                </div>
                <div class="form-group">
                    <input class="mr-5" type="text" name="dateOfStartObservation" id="dateOfStartObservation"
                        placeholder="Дата начала наблюдения" onfocus="(this.type='date')" onblur="if(this.value==''){this.type='text'}" required>
                    <label for="dateOfStartObservation">Начало наблюдения</label>
                </div>
                <div class="form-group">
                    <input class="mr-5" type="text" name="multiplisityOfFillingCard" id="multiplisityOfFillingCard"
                        placeholder="Дата заполнения карты" onfocus="(this.type='date')" onblur="if(this.value==''){this.type='text'}" required>
                    <label for="multiplisityOfFillingCard">Дата заполнения</label>
                </div>
            </div>
        </div>
    </fieldset>
    <input type="hidden" name="_csrf" value="{{csrf}}">
    <button type="submit" class="btn btn-primary mt-3 mb-3 w100">Создать карту</button>
</form>