<h2 class="mb-5" style="text-align: center;">Диспансерное наблюдение по частым нозологиям</h2>

<table class="w-100">
    <tr>
        <th>Заболевание</th>
        <th>Код по МКБ-10</th>
        <th>При взятии на Д учет</th>
        <th>Мероприятия</th>
    </tr>
    <tr>
       <td>Артериальная гипертензия</td>
       <td>I11.9</td>
       <td>Гемоглобин (кроме 1 ст. без ПОМ), глюкоза, общий холестерин, ЛПНП, ЛПВП, ТГ, мочевая кислота, креатинин, калий, натрий, ЭКГ, микроальбуминурия, ЭхоКГ (кроме 1 ст. без ПОМ), УЗДГ СА (ОХС > 5, муж. > 40, жен. > 50), консультация окулиста (кроме 1 ст. без ПОМ)</td>
       <td>
           <b>АГ 1 без ПОМ</b>: 1р/г: глюкоза, общий холестерин, ЛПНП, ЛПВП, ЭКГ. 1р/2г: ТГ, калий, натрий, креатинин, микроальбуминурия<br>
           <b>АГ 1-3 с ПОМ</b>: 1р/г: глюкоза, общий холестерин, ЛПНП, ЛПВП, ЭКГ. 1р/2г: гемоглобин, ТГ, калий, натрий, креатинин, микроальбуминурия, УЗДГ СА<br>
           <b>АГ 1-3 с ССЗ, ЦВБ, ХБП</b>: 2р/г: ЭКГ. 1р/г: калий, натрий, глюкоза, общий холестерин, ЛПНП, ЛПВП, ОАМ, микроальбуминурия, креатинин. 1р/2г: гемоглобин, ТГ, УЗДГ СА
        </td>
    </tr>
    <tr>
        <td>Стабильная ИБС</td>
        <td>I20-I25</td>
        <td>ОАК, ОХС, ЛПНП, ЛПВП, ТГ, глюкоза, креатинин, ЭКГ, ЭхоКГ, стресс-тесты (ПТВ 15-85%, повышение ФК в течении месяца), УЗДГ СА, консультация кардиолога</td>
        <td><b>1-2 ФК</b>: ОХС, ЛПНП, ЛПВП, ТГ каждые пол года первые полтора года, затем 1р/г, ЭКГ<br>
        <b>3-4 ФК</b>: + первые 2 года ЭхоКГ 1р/г, УЗДГ СА первые 2 года 1р/г
        </td>
    </tr>
    <tr>
        <td>ХСН</td>
        <td>I50</td>
        <td>ОАК, натрий, калий, креатинин, СКФ, ЭКГ, ЭхоКГ, рентген ОГК, , тест с 6-ти минутной ходьбой (Т6МХ), суточный мониторинг ЭКГ, BNP при 2Б-3 ст</td>
        <td>
            <b>1-2А ст</b>: 1р/г: Т6МХ, ЭКГ, ЭхоКГ первые 2 года
            <b>2Б-3 ст</b>: 2р/г: Т6МХ, ЭКГ
        </td>
    </tr>
</table>